[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mapindia"]
	path = mapindia
	url = https://github.com/shubhamdutta26/mapindia
[submodule "mapindiatools"]
	path = mapindiatools
	url = https://github.com/shubhamdutta26/mapindiatools
[submodule "tidyplate"]
	path = tidyplate
	url = https://github.com/shubhamdutta26/tidyplate
